/* Palette de couleurs */
:root {
    --color-brown-dark: #5A3921;
    --color-brown-redish: #8C3333;
    --color-green-light: #b0c9b065;
    --color-green-plant: #669e2a;
    --color-green-thicker: #6d815486;
    --color-green-leaf: #98af7c86;
    --color-green-dark: #5e7e52;
    --color-green-sapin: #1a3f13;
    --color-green-olive: #809e6c;
    --color-yellow-light: #e5ffb5;
    --color-yellow-greenish: #F2EE9D;
    --color-orange-peach: #dcad83;
    --color-beige-light: #ebe5d5;
    --color-white-ligher: #f2f2f2;
    --color-white-mint: #F5FFFA;
}

/* Paramètres principaux */

html {
    font-size: 12px;
    background-color: whitesmoke;
}

body {
    background-color: var(--color-green-light);
    font-family: Cormorant_Garamond;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Polices */

@font-face {
    font-family: Cormorant_Garamond;
    src: url(Cormorant/CormorantGaramond-Regular.ttf);
}

/* Paramètres du header */
header,
nav,
div {
    display: flex;
    border: 1px;
    width: 100%;
    border-radius: 15px;

}

div a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    width: 90vwvw;
    height: 15vh;
    margin-bottom: 20px;

}

nav {
    width: 90vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    box-shadow: 5px 2px 8px var(--color-green-dark);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green-thicker);
    border-radius: 15px;
    padding: 10px;
    height: 100%;
    font-size: 1.2rem;
    width: 30vw;
}

#menu-gauche {
    display: none;

}

#menu-centre {
    border-right: solid var(--color-green-dark);
    width: 50vw;
}

#menu-droite {
    width: 50vw;
}

/* h2 ::before {
    content: url(img/croissance.png);
    width: 50px;
} */


/* Paramètres du aside */
/* Paramètres du main */

/* Grid principale */
main {
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
    height: 100vh;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 10fr;
    gap: 10px 5px;
    grid-auto-flow: column no-repeat;
    grid-template-areas:
        ". "
        ". "
        ". "
        ". "
        ". "
        ". ";
    margin-bottom: 20px;
    overflow: visible;
}

/* Affichage à l'intérieur de la grid principale*/

.pic_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: var(--color-green-leaf);
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 5px 2px 5px var(--color-green-dark);
}

/* Paramètres du footer */

footer {
    border-radius: 15px;
    display: flex;
}

form {
    background-color: var(--color-green-thicker);
    border-radius: 15px;
    box-shadow: 5px 2px 8px var(--color-green-dark);
    padding: 5px;
    display: flex;
    justify-content: center;
}

/* Hovering */

.menu:hover {
    transform: scale(1.1);
    transition: ease-in, 1s, alternate, forwards;
}

div a:hover {
    transform: scale(1.1);
    transition: ease-in, 1s, alternate, forwards;
}

.pic_container:hover {
    transform: scale(1.1);
    transition: ease-in, 1s, alternate, forwards;
}

#Symbole-ajout:hover {
    transform: scale(1.5);
    transition: ease-in, 1s, alternate, forwards;
}

/* Media querries */

@media screen and (min-width: 760px) {

    header,
    nav,
    div,
    header {
        display: flex;
        border: 1px;
        width: 100%;
        border-radius: 15px;

    }

    div a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        height: 200px;
        margin-bottom: 20px;
    }

    nav {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        box-shadow: 5px 2px 8px var(--color-green-dark);
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-green-thicker);
        border-radius: 15px;
        padding: 15px;
        height: 100%;
        font-size: 2rem;
    }

    #menu-gauche {
        display: flex;
        border-right: solid var(--color-green-dark);
        width: 33vw;
    }


    #menu-centre {
        display: flex;
        border-right: solid var(--color-green-dark);
        width: 33vw;
    }

    #menu-droite {
        display: flex;
        width: 33vw;
    }

    /* h2 ::before {
    content: url(img/croissance.png);
    width: 50px;
} */
}